@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Oswald');

body {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
}

nav {
    font-family: sans-serif;
    font-size: 10px;
}

#main {
    width: 900px;
    margin: 10px auto;
}

#main header h1 {
    font-family: 'Bungee Inline';
    font-size: 46px;
    font-weight: lighter;
}

#menu {
    columns: 420px 2;
    column-gap: 60px;
}

section {
    margin-bottom: 20px;
    padding: 10px;
}

section h2 {
    margin-top: 0;
    text-transform: uppercase;
}

section dt {
    display: inline;
    font-weight: bold;
    font-size: 16px;
}

dd {
    display: inline;
    margin: 0;
}

dt::after {
    content: ",";
    display: inline;
    clear: both;
}

dd::after {
    content: "";
    display: block;
    margin-bottom: 15px;
}

.details {
    display: inline;
}

.price {
    float: right;
    padding: 0 0 35px 20px;
}

footer address {
    text-align: right;
}

#starters, #desserts {
    border: 2px solid black;
}
